body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, white 50%, black 50%);
    /* Puedes ajustar el porcentaje según tus necesidades */
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
    
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


.header {

    display: grid;
    grid-template-columns: (3,1fr);
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background: linear-gradient(to right, white 50%, black 50%);

}


.imagen {
    width: 100px;
    height: 100px;
    border-radius: 53%;
    margin-right: 10px;
    display: grid;

}
h1 {
    max-width: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    /* display: inline; (puedes omitir esta línea) */
    margin-right: 20px; /* Puedes ajustar el margen según tus necesidades */
}
h3{
    color: antiquewhite;
}
h2{
    color: antiquewhite;
}
#nombre {
    margin-right: 50px;
    /* width: 100px; (puedes ajustar esto según tus necesidades) */
    max-width: 100px; /* Puedes ajustar según tus necesidades */
}
p{
    color: white;
}
a {
   color: white;
}

section {
    display: grid;
    grid-template-columns: (3,1fr);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);}
section:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}
.habilidad {
    background-color: white;
}




.habilidad li:first-child {
    background-color: rgb(36, 36, 31);
}

h2 {
    color: white;
}



li {
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}

.project {
    margin-bottom: 20px;
}
